@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}


body {
    background-image: url('./src/tablet-background.png');
    background-size: 100% 100%;  /* 배경 이미지가 가로와 세로에 맞게 늘어나도록 설정 */
    background-repeat: no-repeat;  /* 배경 이미지가 반복되지 않도록 설정 */
    background-position: top left; /* 배경 이미지의 상단 왼쪽을 화면의 상단 왼쪽에 맞춤 */
    background-attachment: fixed; /* 배경 이미지가 스크롤 시 고정되도록 설정 */
    margin: 0;
    height: 100vh;  /* 화면 전체 높이를 사용 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard Variable', sans-serif;
    text-align: center;
}

/* 제목 스타일 */
.Current {
    color: #9421F6;
    font-family: Pretendard;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    display: flex;
    width: 50.6875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* 박스 영역 스타일 */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9421F6;
    width: 80rem;
    height: 20rem;
    flex-shrink: 0;
    text-align: center;
    margin-left: 20rem;
}

/* 당첨자 표시 스타일 */
.winnerDisplay {
    display: flex;
    width: 83.6875rem;
    height: 12rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9421F6;
    text-align: center;
    font-family: Pretendard;
    font-size: 7rem;
    font-weight: 900;
    line-height: 12.5rem;
}

/* 버튼 스타일 */
.resetButton,
.startDrawButton {
    width: 31.90475rem;
    height: 4.9375rem;
    flex-shrink: 0;
}

.startDrawButtonimg,
.resetButton {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

/* 참가자 수 표시 스타일 */
.participantCount {
    display: flex;
    width: 50.6875rem;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(272, 92%, 55%);
    text-align: center;
    font-family: Pretendard;
    font-size: 12rem;
    font-weight: 900;
    line-height: 25rem;
}

/* 미디어 쿼리: 태블릿 화면에서 버튼과 텍스트 크기 조정 */
@media (max-width: 768px) {
    body {
        background-size: cover;  /* 배경 이미지가 화면에 꽉 맞도록 설정 */
    }

    .Current {
        font-size: 2.5rem;  /* 제목 크기 축소 */
        width: 90%;
    }

    .box {
        width: 90%;
        height: auto;
    }

    .winnerDisplay {
        font-size: 5rem;  /* 당첨자 텍스트 크기 축소 */
        width: 80%;
        height: auto;
    }

    .participantCount {
        font-size: 8rem;  /* 참가자 수 텍스트 크기 축소 */
    }

    .resetButton,
    .startDrawButton {
        width: 70%;  /*
        버튼 크기 축소 */
        height: auto;
    }
}
