body {
    background-image: url('./src/tablet-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,
h2,
h3 {
    color: #9421F6;
}

.Current {
    color: #9421F6;
    text-align: center;
    font-family: Pretendard;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    display: flex;
    width: 60.6875rem;
    height: 4.9375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9421F6;
    width: 90.6875rem;
    height: 30rem;
    flex-shrink: 0;
    text-align: center;
}

.winnerDisplay {

    display: flex;
    width: 83.6875rem;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #9421F6;
    text-align: center;
    font-family: Pretendard;
    font-size: 7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 12.5rem;
    /* 111.111% */

}

.resetButton,
.startDrawButton {
    width: 37.90475rem;
    height: 5.9375rem;
    flex-shrink: 0;
}

.startDrawButtonimg,
.resetButton {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.participantCount {
    display: flex;
    width: 83.6875rem;
    height: 28.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: hsl(272, 92%, 55%);
    text-align: center;
    font-family: Pretendard;
    font-size: 27.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 25rem;
}
